<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur ce super site de potins où toutes les fouines trouveront leur bonheur !</h1>
    <h2>Voici la liste des potins :</h2>
    <% gossips.each_with_index do |gossip, index| %>
        <a href="/gossips/<%= index %>">
          <%= gossip.author %> a dit :
          "<%= gossip.content %>"<br/>
        </a>
      <% end %>
    <p>Pour déposer un nouveau potin <a href="/gossips/new/">clique ici</a></p>
  </body>
</html>